/*.thing-form {*/
    /*margin: 20px 0;*/
/*}*/

#banner {
    border-bottom: none;
    margin-top: 20px;
    margin-left: -40px;

}

/*#banner h1 {*/
    /*font-size: 60px;*/
    /*line-height: 1;*/
    /*letter-spacing: -1px;*/
/*}*/

/*.hero-unit {*/
    /*position: relative;*/
    /*padding: 30px 15px;*/
    /*color: #F5F5F5;*/
    /*text-align: center;*/
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);*/
    /*background: #4393B9;*/
/*}*/

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.resultsList {
  /*margin-top: 40px;*/
  border-bottom: none;
}

.resultItem {
  margin-bottom:25px;

}

.resultItem:hover {
  background-color: #f5f6f7;
}

ul li {
  list-style:none;
}

/*ul li:nth-child(even){*/
  /*margin-left: 100px;*/
/*}*/
ul li img {
  cursor: pointer;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-family: "BebasNeueRegular", Helvetica, Arial, sans-serif;
  font-size: x-large;
  font-style: normal;
  font-weight: bold;
  color: #eeeeff;
}
